<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleIdentifier</key><string>app.sandfort.help</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>Sandfort Help</string>
  <key>CFBundlePackageType</key><string>BNDL</string>
  <key>CFBundleShortVersionString</key><string>0.6.19</string>
  <key>CFBundleSignature</key><string>hbwr</string>
  <key>CFBundleVersion</key><string>46</string>
  <key>HPDBookAccessPath</key><string>Sandfort.html</string>
  <key>HPDBookIconPath</key><string>shrd/Sandfort.png</string>
  <key>HPDBookIndexPath</key><string>Sandfort.helpindex</string>
  <key>HPDBookKBProduct</key><string>sandfort1</string>
  <key>HPDBookTitle</key><string>Sandfort Help</string>
  <key>HPDBookType</key><string>3</string>
</dict>
</plist>
